* {
    margin: 0;
    padding:0;
    font-size:28px;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing:border-box;
    transition: 0.3s;
}

#greet {
    margin: 10px;
}

.main {
    display:flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
    justify-content: flex-start;
}

.sidebar {
    border: solid 1px red;
    min-width: 350px;
    max-width: 400px;
    min-height:600px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 20px;
    flex-grow: 0;;
}

.grid-container {
    margin: 0;
    border: dotted 1px rgb(230,230,230);
    min-width: 700px;
    min-height:600px;
    width: 1201px;
    height: 1201px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 0;
    gap:0;
    padding:0;
}

.drawGrid {
    border: 1px solid rgb(230,230,230);
}

.drawGrid:hover {
    background-color: aqua;
}

button {
    border-radius: 12px;
    padding:10px;
    min-width: 120px;
    opacity: 0.8;
    border:dotted 3px grey;
    font-size: 16px;
}

button:hover {
    opacity: 1;
    border:solid 3px black;
    box-shadow: 3px 3px lightgrey;
}

.slider-container {
    flex-direction: column;
    height:20%;
}

.tools {
    height:10%;
}

.colors {
    height: 40%;
}

.tools, .colors, .slider-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    border: dotted 1px coral;
    padding:10px;
    gap: 10px;
    flex-wrap: wrap;
    border-radius: 10px;
    
}

button.active {
    border-color: yellow;
    box-shadow: 0px 0px 10px 10px lightgoldenrodyellow;
    font-weight: bold;
    background-color: blanchedalmond;
}